---
import { ArrowIcon, ButtonPill } from "./ButtonPill";
import centennial from '../images/centennial.png';
---

<section class="relative overflow-hidden bg-sws-engineering cc pb-114 pt-95 text-white" aria-labelledby="momentum-title">
  <div class="relative z-1 mx-auto">
    <div class="flex flex-wrap items-start justify-center gap-8">
      <div class="flex max-w-532 flex-[1_1_280px] flex-col justify-start gap-8 pr-[clamp(0rem,2vw,38px)]">
        <p class="m-0 mb-8 text-21 leading-snug text-white">Lasting Partnerships</p>
        <div>
          <h2
            id="momentum-title"
            class="m-0 mb-2.5 font-serif text-[clamp(2rem,3vw,45px)] font-normal leading-tight"
          >
            Momentum
          </h2>
          <p class="m-0 text-21 leading-snug">
            Mauris vel nunc rutrum, semper neque a, venenatis metus. Nulla egestas, enim ut blandit pulvinar, lorem tellus
            pulvinar ex, a eleifend ante arcu et nulla. Fusce et cursus libero. Nullam vitae lacus quis augue semper luctus
            nec non ex.&nbsp;
          </p>
          <ButtonPill as="a" href="https://momentum.stanford.edu/">
            Visit Momentum
            <ArrowIcon />
          </ButtonPill>
        </div>
      </div>
      <div class="relative max-w-768 min-h-400 flex-[1_1_320px] overflow-hidden rounded-mds">
        <img
          src={centennial.src}
          alt="Centennial website screenshot"
          width={centennial.width}
          height={centennial.height}
          class="size-full object-cover"
        />
      </div>
    </div>
    <div class="pt-95 text-center">
      <a class="text-19 leading-snug text-white/95" href="#">
        <span class="underline decoration-sws-red-bright underline-offset-4 hocus-visible:decoration-digital-red hover:decoration-2">
          Learn more about our work
        </span>
      </a>
    </div>
  </div>
</section>
