---
import { GlobalFooter } from '../components/GlobalFooter/GlobalFooter';
import { SiteHeader } from '../components/SiteHeader';
import { FooterLocal } from '../components/FooterLocal';

interface Props {
  title?: string;
}

const { title = "Stanford Web Services" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <SiteHeader />
    <slot />
    <FooterLocal
      heading="We’d love to hear about what you’re working on."
      buttonHref="#"
      buttonLabel="Connect with us"
      activeLabel="Why Web Services"
    />
    <GlobalFooter />
  </body>
</html>