---
import { Container } from "@components/Container/Container";
---

<Container pt={6} pb={7}>
  <h1 class="sr-only">
    Stanford Web Services homepage
  </h1>
  <p class="mb-0 max-w-1000 mx-auto font-serif fluid-type-4 leading-snug text-primary">
    We build digital experiences worthy of the work behind them — for every team, every scale, every vision.
  </p>
</Container>
